/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  margin:20px;
  font-style: italic;
  color: #373fff;
}

#survey {
  margin: 30 auto;
}